# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.s
*.ll

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Userspace programs
xdp-dumper-kern
xdp-dumper-user

# tracing userspace programs
trace_load_and_stats
trace_load_and_stats
trace_read
xdp_sample_pkts_user

# junks
*.pcap
*.pcapng

# VS Code
.vscode/
